.tasks {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	height: 30vh;
	width: 100%;
	overflow-y: auto;
	list-style: none;
	padding-left: 0;
}

.tasks::-webkit-scrollbar {
	width: 5px;
	border-radius: 5px;
}

.tasks::-webkit-scrollbar-thumb {
	background-color: #a1a1a1;
}
