.board-container {
	padding: 1rem 2rem;
	text-align: center;
}

.inputs {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1.2rem;
	gap: 1rem;
}

.inputs button {
	width: 400px;
}

.tasks-types {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	margin-top: 2rem;
}

@media (max-width: 768px) {
	.inputs {
		flex-direction: column;
		margin-top: 3rem;
	}

	.inputs button {
		width: 100%;
	}

	.tasks-types {
		flex-direction: column;
	}
}
