.board-container {
	padding: 1rem 2rem;
	text-align: center;
}

.tasks-types {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	margin-top: 2rem;
}

@media (max-width: 768px) {
	.tasks-types {
		flex-direction: column;
	}
}
