.notification-container {
	width: 30vw;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	color: white;
	position: fixed;
	top: 5%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-bottom: 1rem;
	font-size: bold;
	border-radius: 15px;
	z-index: 1000;
	animation: fadeIn 400ms ease-in forwards,
		fadeOut 400ms ease-out 4000ms forwards;
}

.notification-container svg {
	flex: 20%;
}

.notification-container p {
	flex: 80%;
}

@keyframes fadeIn {
	0% {
		top: 0;
		opacity: 0;
	}

	100% {
		top: 5%;
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		top: 5%;
		opacity: 1;
	}

	100% {
		top: 0;
		opacity: 0;
	}
}

@media (max-width: 768px) {
	.notification-container {
		width: 70vw;
	}
}
