.tasks-item {
	padding: 0.5rem 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.drag {
	background-color: #b2b2b2;
}

.tasks-item span:first-of-type {
	flex: 1;
}

.task-actions span:first-of-type {
	display: inline-block;
	margin-right: 1rem;
}
