body {
	margin: 0;
	font-family: EuclidSquare;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
	margin: 0;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.flex-box {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.flex-box .input-container {
	flex: 1;
}

.form-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

@media (max-width: 768px) {
	.flex-box {
		flex-direction: column;
	}
}
